.nav-element {
  padding: 2rem 14rem;
}

.main-title {
  color: white;
}

.info-container {
  padding: 4rem 20rem;
  display: flex;
}

.countries-list {
  width: 35vw;
  overflow-y: scroll;
  -webkit-overflow-scrolling: touch;
  height: 70vh;
}

.country-container {
  display: flex;
  align-items: center;
}

.country-name {
  font-size: 1.6rem;
  margin-top: 1rem;
  margin-left: 1rem;
}

.flag {
  margin-top: 1rem;
}

.info-right-container {
  margin-left: 8rem;
}